body {
	margin: 0;
	padding: 0;
}

.sec1 {
	display: block;
	position: relative;
	background-color: #33195c;
	width: 100%;
	height: 100vh;
	padding: 2px;
	background-image: url(../assets/wave.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.sec1 > h1 {
	color: #aa8ff8;
	font-family: "Sacramento", cursive;
	font-style: normal;
	font-size: 4rem;
	position: absolute;
	padding-left: 150px;
	padding-top: 150px;
}

.sec1 > p {
	color: #aa8ff8;
	font-family: Verdana, sans-serif;
	font-style: italic;
	font-size: 2rem;
	position: relative;
	padding-left: 150px;
	padding-top: 230px;
}

.pro {
	text-decoration: underline;
}
