body {
	margin: 0;
	padding: 0;
}

.sec1 {
	display: block;
	position: relative;
	background-color: #33195c;
	width: 100%;
	height: 100vh;
	padding: 2px;
	background-image: url(../assets/wave.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.sec1 > h1 {
	color: #aa8ff8;
	font-family: "Varela Round", sans-serif;
	font-size: 5vh;
	position: absolute;
	padding-left: 200px;
	padding-top: 175px;
}

.sec1 > p {
	color: #aa8ff8;
	font-family: Verdana, sans-serif;
	font-style: italic;
	font-size: 4vh;
	position: relative;
	padding-left: 200px;
	padding-top: 210px;
}
